# ===========================================
# APPLICATION SETTINGS
# ===========================================
PROJECT_NAME=monitor-infra
ENV=dev # ['local', 'dev', 'staging', 'prod']

# Grafana
GF_SECURITY_ADMIN_USER=ADD_HERE
GF_SECURITY_ADMIN_PASSWORD=ADD_HERE

# Nginx
NGINX_PORT=3001

## Grafana Alerting
# Slack Contact Webhook URL
SLACK_WEBHOOK_URL=ADD_HERE